.news {
  background: #fff;
  // padding: 100px 0 120px;

  // // スマホ
  // @include mq('sp') {
  //   margin-top:50px;
  //   margin-bottom: 60px;
  // }
}

.news__inner {

}

.news__head {

}

.news__items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;

  // スマホ
  @include mq('sp') {
    margin-top:40px;
  }
}

.news__item {
  display: flex;
  padding: 20px 0 12px;

  &:not(:first-child) {
    border-top: 1px solid #707070;
  }

  // スマホ
  @include mq('sp') {
    display: block;
  }
}

.news__meta {
  display: flex;
  width: 185px;
}

.news__date {
  width: 105px;
  padding-top: 3px;
  font-family: $font-en;
}

.news__label {

  a {
    display: inline-block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    background: #666666;
    border-radius: 4px;
    font-weight: 700;
    transition: all .3s ease 0s;

    &.is-blue {
      background: #3F51B5;
    }

    &.is-red {
      background: #E81919;
    }

    &:hover {
      opacity: .7;
    }
  }
}

.news__title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;

  a {
    line-height: (20 / 16);
    transition: all .3s ease 0s;

    &:hover {
      opacity: .7;
    }
  }

  // スマホ
  @include mq('sp') {
    width:100%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 6px;
  }
}

.news__more {
  margin-top: 60px;
  text-align: center;
  font-family: $font-en;

  // スマホ
  @include mq('sp') {
    margin-top: 30px;
  }

  a {
    color: #E81919;
    font-weight: 700;
    padding-right: 14px;
    position: relative;
    transition: all .3s ease 0s;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 7px;
      height: 11px;
      background: url(/img/news-arrow.png) no-repeat center center / contain;
    }
  }
}